.login {
  width: 100%;
  height: 100vh;
  min-width: 500px;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forms-container button {
  margin: 0.5rem 0 0 0;
}
.error {
  color: red;
}